<div class="hero py-6">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Coffe Locator</h1>
      <p class="text-neutral-content pt-6">
        Si quieres saber la ubicacion de las cafeterias de espacialidad unete a
        la lista de espera ☕.
      </p>
      <p class="text-accent pt-4 text-xs">Marzo 2026 lanzamiento oficial 🚀.</p>
    </div>
  </div>
</div>
