<div class="hero py-6">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">✨ Stamply</h1>
      <p class="text-neutral-content pt-6 text-xs">
        Tu Programa de Lealtad Digital en Minutos Subtítulo: Stamply te ayuda a
        fidelizar clientes con tarjetas digitales personalizadas. Sin apps
        complicadas, sin costos ocultos.
      </p>
      <p class="text-accent pt-4 text-xs">Marzo 2026 lanzamiento oficial 🚀.</p>
    </div>
  </div>
</div>
