---
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import { Signup } from "../components/Signup";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <div class="flex justify-center pb-4">
    <Signup />
  </div>
  <div class="flex flex-col gap-4 p-4 md:flex-row md:justify-center">
    <Card
      title="Fideliza a tus Clientes"
      description="Reemplaza las tarjetas de papel por un sistema digital moderno que mantiene a tus clientes regresando."
    />
    <Card
      title="Configura en Minutos"
      description="Personaliza los colores, logo y recompensas de tu negocio sin necesidad de conocimientos técnicos."
    />
    <Card
      title="Incrementa tus Ventas"
      description="Los clientes con tarjetas de lealtad gastan hasta 67% más. Convierte visitantes ocasionales en clientes frecuentes."
    />
  </div>
</Layout>
